.heading{
  text-align: center;
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  /* padding: 20px; */
  padding-bottom: 30px;
}

.enter_option{
  margin-bottom: 13px;
  padding: 5px;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}

.radio_but{
  margin-bottom: 17px;
    padding: 4px 5px;
    margin-left: 10px;
}
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.flex-center{
  width: 60%;
  margin: auto;
}
.cover{
  display: flex;
  margin: 25px;
}


.text-label{
  text-transform: uppercase;
    padding: 5px;
   // width: 30%;

    font-weight: 500;
    font-size: 14px;
}
.top-but{
  display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin: auto;
}

