<div class="wrapper">
  <div class="title">
    {{tableName}} Data
    <div class="line"></div>
  </div>
  <div class="container">
    <div class="table">
      <table>
        <thead>
          <tr >
            <td *ngFor="let val1 of tableheads"> {{val1}}</td>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let objects of tablebody">
            <ng-container
            *ngFor="let val of objects| keyvalue">
            <td>{{val.value}}</td>

          </ng-container>


          </tr>

        </tbody>

      </table>
    </div>
  </div>
</div>
