<!-- <div class="heading" style="padding-top: 5px" *ngIf="allForms.length > 0">
  Availabe Forms
</div>

<div
  *ngFor="let data of allForms"
  style="width: 30%; margin: auto; padding: 10px"
>
  <mat-card
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <div class="form-name">{{data?.form_name}}</div>
    <div>
      <button mat-button (click)="formlink(data)" >Copy Form Link</button>
      <button mat-button (click)="viewdata(data)">View Sumbitted Data</button>
    </div>
  </mat-card>
</div>

<div *ngIf="allForms.length == 0" class="heading">
  No Froms are availabe Create New Froms now
</div>

<button
      mat-raised-button
      style="
        background: #00bb0e;
        color: white;
        /* padding: 10px; */
        margin: auto;
        display: flex;
      "
     (click)="createNewForm()">
      Create New From
    </button> -->


    <div class="wrapper" *ngIf="allForms.length > 0">
      <div class="title">
        Availabe Forms
        <div class="line"></div>
      </div>
      <div class="container">
        <div class="table">
          <table>
            <thead>
              <tr >
                <td style="text-align: center;"> From Name</td>
                <td style="text-align: center;">Copy Form Link</td>
                <td style="text-align: center;">View Data</td>

              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let data of allForms">
                <td style="text-align: center;">{{data?.form_name}}</td>
                <td style="text-align: center;"><button mat-button (click)="formlink(data)" ><span class="material-icons">content_copy</span></button></td>
                <td style="text-align: center;">  <button mat-button (click)="viewdata(data)"><span class="material-icons">visibility</span></button></td>




              </tr>

            </tbody>

          </table>
        </div>
      </div>
      <div style="padding-top: 10px;">
        <button
        mat-raised-button
        style="


          margin: auto;
          display: flex;
        "
       (click)="createNewForm()">
        Create New From
      </button>

      </div>

    </div>
