.heading{
  text-align: center;
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  /* padding: 20px; */
  padding-bottom: 30px;
}

.form-name{
  font-weight: 500;
  font-size: 19px;
  text-transform: capitalize;
  vertical-align: bottom;
}
